.tabs-erf-map-info-wrapper .temiw-container .form-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  gap: 1rem;
}

.tabs-erf-map-info-wrapper .temiw-container .form-header .header-left,
.tabs-erf-map-info-wrapper .temiw-container .form-header .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;
  border: 1px solid lightgray;
  padding: 1rem;
}